/auth/.env
/auth/.env.local
/auth/.env.development
/auth/.env.production
/auth/.env.test
/auth/.env.test.local

/orders/.env
/orders/.env.local
/orders/.env.development
/orders/.env.production
/orders/.env.test
/orders/.env.test.local


.idea

.vscode

.DS_Store

